
/* Add a black background color to the top navigation bar */
.searchbar {
    padding-top: 5rem;
    overflow: hidden;
    display: flex;
    padding-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
  }

  /* Style the search box inside the navigation bar */
  .searchbar input[type=text] {

    padding: 12px;
    width: 40rem;
    height: 1rem;
    border: solid, 4px;
    margin: auto;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;

  }

  main {
    display: flex;
    justify-content: space-evenly;
  }

  .kort {
    font-family: 'Roboto', sans-serif;
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    background-color: #830065;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;    
  }

  button {
    background-color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


:root {
    --main-color: #830065;
    --background-color: #fefefe;
    
}

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;    
}
  

  .dark-mode {
    background-color: grey;
    color: white;
}



.forre img {
    max-width: 6rem;
}

nav {
    border: block;
    padding: 1rem;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start {

    padding: 0.5rem;
    font-size: 1rem;
    border: 1px black solid;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
