button {
    background-color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


:root {
    --main-color: #830065;
    --background-color: #fefefe;
    
}

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;    
}
  

  .dark-mode {
    background-color: black;
    color: white;
}



.forre img {
    max-width: 6rem;
}



.flpn {
    margin: auto;
    max-width: 60rem;
    
}
.nåttkonstigtnamn {
    display: flex;
}

nav {
    border: block;
    padding: 1rem;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start {

    padding: 0.5rem;
    font-size: 1rem;
    border: 1px black solid;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.justnu {
    padding: 1rem;
    display: flex;
    justify-content: center;
    border: lightgray 1px solid;
    max-width: 42.13rem;
    
}

.justnu2 {
    padding: 1rem;
    border: lightgray 1px solid;
}
.justnu2 img {
max-width: 30rem;
margin: auto;
display: block;
}

.reklam img{
    max-width: 75rem;
    display: block;
    display: flex;
    margin: auto;
}

.åtsidan {
    padding: 1rem;
    border: solid 1px lightgray;
    max-width: 10rem;
}

.åtsidan2 {
    padding: 1rem;
    border-bottom: solid 1px lightgray;
}
 